@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: scroll;
    background: var(--white);
}

:root {
    --primary-black: #111;
    --white: #fff;
}
